Relational Database Management System with Primary Key - Foreign Key

1. Create customers Table

In [ ]:
CREATE TABLE Customers (
	customer_id serial primary key,
	Customer_name varchar NOT NULL,
	city text
);

2. Create orders Table

In [ ]:
Create Table Orders (
	order_id INT GENERATED ALWAYS AS IDENTITY,
	customer_id INT,
	order_date date,
	total_amount decimal,
	PRIMARY KEY(order_id),
	CONSTRAINT fk_Customers
		FOREIGN KEY(customer_id)
			REFERENCES Customers(customer_id)
);

1a. Fill Customers data table

   (ISI Tabel customers)

In [ ]:
insert into customers(customer_name, city)
values
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angeles'),
	('David Johnson', 'Chicago')

2a. Fill Orders data table

   (Isi Tabel Order)

In [ ]:
insert into Orders(customer_id, order_date,total_amount)
values
	('1','2022-01-10', 100.0),
	('1','2022-02-15', 150.00),
	('2','2022-03-20', 200.00),
	('3','2022-04-25', 50.00)

Query

3. Expected Result :

In [ ]:
---Query to retrieve total orders---

SELECT customers.customer_name,
count(orders.order_id) as Total_orders
from customers
inner join orders ON customers.customer_id = orders.customer_id
Group by customers.customer_name